



.row {
	background-color: rgba(255, 230, 230, 0.5);
	border: 1px dashed red;
	stroke-dashoffset: 10;
}

[class*="col-"]{
	background-color: rgba(230, 230, 255, 0.5);
	border: 1px dashed blue;
	stroke-dashoffset: 20;
}
